@import 'libs/ifont';

@import 'base/variables';


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 800px;
    margin: 0 auto;
}
body {
    margin: 0px;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/about-us';